[submodule "openlibm"]
	path = openlibm
	url = https://gitlab.redox-os.org/redox-os/openlibm.git
[submodule "posix-regex"]
	path = posix-regex
	url = https://gitlab.redox-os.org/lygstate/posix-regex.git
[submodule "pthreads-emb"]
	path = pthreads-emb
	url = https://gitlab.redox-os.org/redox-os/pthreads-emb.git
